.offer{
    width: 65%;
    height: 600px;
    display: flex;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background:linear-gradient(180deg,#fde1ff 0%,#e1ffea22 60%);
}

.offer_leftside{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.offer_leftside h1{
    color:#171717;
    font-size: 80px;
    font-weight: 600;
}

.offer_leftside p{
    color: #171717;
    font-size: 22px;
    font-weight: 600;
}

.offer_leftside button{
    width: 282px;
    height: 70px;
    border-radius: 35px;
    background: #ff4141;
    border: none; 
    color: #fff;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    cursor: pointer;
}

.offer_leftside button:hover{
    transform: scale(1.05);
    transition: 0.6s;
}

.offer_rightside{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 50px;
}

@media(max-width:1280px){
    .offer{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .offer_leftside h1{
        font-size: 40px;
    }
    .offer_leftside p{
        font-size: 18px;
    }
    .offer_rightside img{
        width: 300px;
    }
    .offer_leftside button{
        width: 220px;
        height:50px;
        font-size: 18px;
    }
    .offer_rightside{
        padding-top: 30px;
    }
}

@media(max-width:1024px){
    .offer{
        padding: 0px 60px;
        margin-bottom: 80px;
        height: 40vh;
    }
    .offer_leftside h1{
        font-size: 30px;
    }
    .offer_leftside p{
        font-size: 16px;
    }
    .offer_rightside img{
        width: 200px;
    }
    .offer_leftside button{
        width: 160px;
        height:40px;
        font-size: 16px;
    }
    .offer_rightside{
        padding-top: 10px;
    }
}
@media(max-width:800px){
    .offer{
        margin-bottom: 60px;
    }
    .offer_leftside h1{
        font-size: 22px;
    }
    .offer_leftside p{
        font-size: 13px;
    }
    .offer_rightside img{
        width: 180px;
    }
    .offer_leftside button{
        width: 140px;
        height:30px;
        font-size: 12px;
    }
    .offer_rightside{
        padding-top: 10px;
    }
}
@media(max-width:500px){
    .offer{
        height: 20vh;
        margin-bottom: 50px;
    }
    .offer_leftside h1{
        font-size: 16px;
    }
    .offer_leftside p{
        font-size: 10px;
    }
    .offer_rightside img{
        width: 120px;
    }
    .offer_leftside button{
        width: 120px;
        height:25px;
        font-size: 10px;
        margin-top: 12px;
    }
    .offer_rightside{
        padding-top: 10px;
    }
}



